@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);


header, main, footer {
    max-width: 1100px;
    font-family: 'Noto Sans JP', sans-serif;
}

.section_title {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
/*     text-align: center; */
    color: #00abae;
    position: relative;
}

.section_title::before {
    content:"";
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 40%;
    border-bottom: 1px solid #00abae;
}

section {
    margin-top: 30px;
}

/* index-header */
header {
    font-weight: 700;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.index_header__img_div{
}

.index_header__img_div img{
    height: 100%;
}

nav.globalMenuSp {
    margin: auto;
}

nav.globalMenuSp ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.globalMenuSp ul li {
    padding: 20px 50px;
}

nav.globalMenuSp ul li a{
    display: block;
}

nav.globalMenuSp ul li:last-child{}
nav.globalMenuSp ul li:last-child a{
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #00ABAE;
    color: #fff;
}

.hamburger {
    display: none;
}


/* index-main */
.main__front_img_div {
    position: relative;
    height: 400px;
}

.main__front_img_div img {
    height: 100%;
}

.main__front_img_div p{
    color: #fff;
    position: absolute;
    top: 110px;
    left: 245px;
    height: 180px;
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
}

/* index_about */

.index_about .section_title {
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.index_about .section_title::before {
    position: absolute;
    left: 48%;
    width: 4%;
}


.index_about__desc_div{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.index_about__desc_img_div{
    display: flex;
/*     jusify-content: center; */
    align-items: center;
    width: 45%;
}

.index_about__desc_img_div img {
    width: 100%;
}

.index_about__desc_body_div {
    width: 45%;
    padding: 5px;
}

.index_about__desc_body_div h4+p {
    line-height:1.5em;
}

.index_about__desc_body_div h4{
    margin-bottom: 10px;
}

/* index_Service */

.index_service {
    background-color: #EEF8FA;
    height: 665px;
    padding-top: 30px;
}

.index_service .section_title {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.index_service .section_title::before{
    content: "";
    position: absolute;
    left: 46%;
    width: 8%;
}

.index_service_card_div {
    height: 458px;
}

.index_service__card_list_frame {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: #EEF8FA;
}

.index_service__card_list_frame li {
    width: 31%;
    background-color: #fff;
}

.index_service__card_list_img {
    height: 200px;
}

.index_service__card_list_img img{
    width: 100%;
}

.index_service__card_list_desc_div{
    background-color: #fff
}

.index_service__card_list_desc_div h5 {
    margin: 1.5em;
    text-align: center;
}

.index_service__card_list_desc_div p {
    padding: 0 1em;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}

/* index_news */
.index_news {
    text-align: center;
}

.index_news h2 {
    margin-bottom: 60px;
}
.index_news a:first-of-type {
    display: block;
    width: 80%;
    margin: auto;
    text-align: left;
    border-bottom: 1px solid #000;
    height: 50px;
}

.index_news a:first-of-type p{
    display: inline-block;
    margin-left: 70px;
    padding: 10px 0px;
}

.index_news__time {
    background-color: #eee;border-radius: 30px;
}

.index_news__title {
    margin-left: 70px;
}

.index_news a:last-of-type{
    display: inline-block;
    width: 300px;
    margin-top: 50px;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 25px 0;
}


/* index_contact */
.index_contact {
    height: 450px;
    padding-top: 40px;
    background-color: #EEF8FA;
    text-align: center;
}

.index_contact h2{
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;    
}

.index_contact__comment {
    margin-top: 50px;
    color:#000;
}

.index_contact a:first-of-type {
    display: inline-block;
    width: 300px;
    margin-top: 50px;
    border: 1px solid #00abae;
    border-radius: 40px;
    padding: 25px 0;
    background-color: #00abae;
    color: #fff;
}

footer {
    padding: 62px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}


/* SP用 */
@media screen and (max-width: 760px){

    header, main, footer {
        width: 100vw;
    }

    section {
        width: 95vw;
        margin: auto;
    }
    
/* index_header */

    /*　ハンバーガーボタン　*/
    .hamburger {
        display : block;
        position: fixed;
        z-index : 3;
        right : 13px;
        top   : 12px;
        width : 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;
    }
    .hamburger span {
        display : block;
        position: absolute;
        width   : 30px;
        height  : 2px ;
        left    : 6px;
        background : #555;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition   : 0.5s ease-in-out;
        transition        : 0.5s ease-in-out;
    }
    .hamburger span:nth-child(1) {
        top: 10px;
    }
    .hamburger span:nth-child(2) {
        top: 20px;
    }
    .hamburger span:nth-child(3) {
        top: 30px;
    }
    
    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
        top : 16px;
        left: 6px;
        background : #fff;
        -webkit-transform: rotate(315deg);
        -moz-transform   : rotate(315deg);
        transform        : rotate(315deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 16px;
        background : #fff;
        -webkit-transform: rotate(-315deg);
        -moz-transform   : rotate(-315deg);
        transform        : rotate(-315deg);
    }
    
    nav.globalMenuSp {
        position: fixed;
        z-index : 2;
        top  : 0;
        right : 0;
        /* color: #fff; */
        /* background: rgba(0,0,0,0.7); */
        background: #E8E8E8;
        padding-top: 60px;
        text-align: center;
        width: 80vw;
        height: 100vh;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
    }
    
    nav.globalMenuSp ul {
        display: block;
    }
    
    nav.globalMenuSp ul li {
        list-style-type: none;
        padding: 10px 0;
        width: 100%;
        transition: .4s all;
    }
    nav.globalMenuSp ul li:last-child {
        padding-bottom: 0;
    }
    nav.globalMenuSp ul li:hover{
        background :#ddd;
    }
    
    nav.globalMenuSp ul li a {
        display: block;
        /* color: #fff; */
        padding: 1em 0;
        text-decoration :none;
    }

    nav.globalMenuSp ul li:last-child a{
    margin: auto;
    width: 80px;
    }
    
    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
        opacity: 0.9;
    }

/* index_front_img */
    
    .main__front_img_div{
        width: 100vw;
    }

    .main__front_img_div img{
        width: 100vw;
    }

    .main__front_img_div p{
        top: 30px;
        left: 0;
        line-height: 3em;
    }

/* index_about  */
    .index_about__desc_div {
        display: block;
    }

    .index_about__desc_img_div{
        width: 100vw;
    }

    .index_about__desc_img_div img{
    }

    .index_about__desc_body_div{
        width: 100vw;
    }

    .index_about__desc_body_div h4 {
        line-height: 1.5em;
    }

/* index_service */
    .index_service {
        height: 2024px;
    }

    .index_service_card_div{
        height: initial;
    }

    .index_service__card_list_frame {
        display: block;
        width: 100vw
    }
    .index_service__card_list_frame li {
        width: 90vw;
        min-height: 30%;
        padding-top: 15px;
        margin:auto;
        background-color: #EEF8FA;
    }
    .index_service__card_list_img {
        height: initial;
    }
    .index_service__card_list_img img {
        
    }
    .index_service__card_list_desc_div {
        padding-top: 1.5em;
        padding-bottom: 2em;
    }
    .index_service__card_list_desc_div h5 {
        margin-top: 0;
    }

    
/* index_news */

    .index_news a:first-of-type {
        height: initial;
        width: 95vw;
        margin: initial;
    }

    .index_news a:first-of-type p{
        display: block;
        margin-left: initial;
        padding: 10px 0px;
    }

    .index_news__time {
        width: 10vw;
        text-align: center;
        background-color: #eee;
        font-size: 10px;
        line-height:15px;
        padding: 5px;
        border-radius: 10px;
    }

    .index_news a:last-of-type{
        margin-bottom: 30px;
    }

/* index_contact */


/* footer */

}
